.photoandC{
    display: flex;
    background-color: wheat;
}
.allCon{
    display: flex;
    flex-direction: column;
    background-color: bisque;

}

.animalD{
    display: flex;
    flex-direction: row-reverse;
    background-color: wheat;
}

.basicModel_box{
    background-color: aquamarine;
}