.photoandC {
  display: flex;
  background-color: wheat;
}
.allCon {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.animalD {
  display: flex;
  flex-direction: row-reverse;
  background-color: wheat;
}

.users-img {
  width: 700px;
}

a:link {
  color: black;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root
  :hover {
  background-color: bisque !important;
}
