.dimona-logo-img {
  width: 40vw;
  margin-top: 3vh;
}
.album-image {
  width: -webkit-fill-available;
  height: 30vh;
  display: flex;
  align-self: center;
  justify-self: center;
}

.petCards {
  background: linear-gradient(#001c77c2, #bebfbf);
}
